<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/logo.png" type="image/png" />
    <title>Video Call</title>
    <link rel="stylesheet" href="/static/call.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 24px;
            min-height: 90vh;
        }
    </style>

</head>
<body>
    
    
</body>
</html>
