{% extends 'base.html' %}
{% block title %}
Dashboard            
{% endblock title %}

{% block body %}
    
<div class="container">
    <h2 class="mt-3">Welcome, {{ username }}</h2>
    <h3 class="mt-4">Your Groups</h3>
    <ul class="list-group">
            {% for group in groups %}
                <li class="list-group-item">
                    <a href="{% url 'group_chat' group.name %}">{{ group.name }}</a>
                    {% if group.creator == request.user %}
                    (<a href="{% url 'manage_group' group.name %}"> Manage </a>)
                    {% endif %}
                </li>
                    {% endfor %}
    </ul>
                    
    <h3 class="mt-4">Users</h3>
    <ul class="list-group">
        {% for user in users %}
        <li class="list-group-item">
            <a href="{% url 'personal_chat' user.username %}">{{ user.username }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock body %}