{% extends 'base.html' %}
{% block title %}
Dashboard            
{% endblock title %}

{% block body %}
    
<div class="container">
<div class="row">
    <div class="col-6">
        <h2 class="mt-3">Welcome, {{ username }}</h2>
        <h3 class="mt-4">Your Groups</h3>
        {% if groups %}
            <ul class="list-group">
                {% for group in groups %}
                    <li class="list-group-item">
                        <a href="{% url 'group_chat' group.name %}">{{ group.name }}</a>
                        {% if group.creator == request.user %}
                        (<a href="{% url 'manage_group' group.name %}"> Manage </a>)
                        {% endif %}
                    </li>
                        {% endfor %}
            </ul>
            {% else %}
            <strong> * Please join or create a group.</strong>    
            {% endif %}
                
                        
        <h3 class="mt-4">Users</h3>
        <ul class="list-group">
            {% for user in users %}
            <li class="list-group-item">
                <a href="{% url 'personal_chat' user.username %}">{{ user.username }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-6">
        <br>
        <h1>Notification</h1>
        <hr>
        {% if unread_msg %}
            {% for msg in unread_msg %}
                {% if request.user == msg.receiver %}
                    <div>
                        <p><strong>Message from:</strong> {{ msg.sender }} : {{ msg.content }}</p>
                    </div>
                {% elif request.user == msg.sender %}
                    <div>
                        <p><strong>{{ msg.receiver }}:</strong> Messages not seen yet!</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No new Messages</p>
        {% endif %}
        
            
    </div>
</div>
</div>

{% endblock body %}