{% extends 'base.html' %}

{% block title %}
Personal Chat
{% endblock title %}

{% block body %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        .chat-container {
            width: 90%;
            max-width: 600px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            overflow: hidden;
            height:80vh;
        }
        .chat-log {
            flex-grow: 1;
            padding: 20px;
            border-bottom: 1px solid #ccc;
            overflow-y: auto;
        }
        .chat-log ul {
            list-style-type: none;
            padding: 0;
        }
        .chat-log li {
            margin-bottom: 10px;
        }
        .chat-input {
            display: flex;
            padding: 10px;
        }
        .chat-input input {
            flex-grow: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-right: 10px;
        }
        .chat-input button {
            padding: 10px 20px;
            border: none;
            background-color: #28a745;
            color: white;
            border-radius: 4px;
            cursor: pointer;
        }
        .chat-input button:hover {
            background-color: #218838;
        }
        .list-style li{
            border : 2px solid black;
            border-radius: 20px;
            margin: 10px 0px;
            padding: 5px 15px;      
            word-wrap: break-word;
            word-break: break-all;       
        }
    </style>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>User : {{username}} <br>
            Send to : {{ friend_username }} </h2>
            
            <div class="chat-container">
                <div class="chat-log">
                    <ul class='list-style'>
                        {% for msg in messages %}
                        {% if msg.sender == request.user %}
                            <li style='text-align: right;'>{{msg.sender}} : {{msg.content}}</li>
                        {% else %}
                            <li>{{msg.sender}} : {{msg.content}}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <ul id="chat-log" class='list-style'>
                        <!-- Messages will be appended here -->
                    </ul>
                </div>
                <div class="chat-input">
                    <input id="chat-message-input" type="text" placeholder="Type a message...">
                    <button id="chat-message-submit">Send</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <button class="dialActionButton" onclick="initiateCall()"><img width="64" height="64" src="https://img.icons8.com/nolan/64/phone-disconnected.png" alt="phone-disconnected" /></button>
            <div class="call">
                <div>
                    <div id="userInfo">
                        <div style="display: flex; flex-direction: column; align-items: center; width: 300px;">
                            <h1>Hello, <span id="nameHere">{{username}}</span></h1>
                        </div>
                    </div>
                    <div id="call">
                        <div class="dialWrapper">
                            <div class="dialNumpadHWrapper">
                                <div class="dialNumber">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="answer">
                        <div class="incomingWrapper">
                            <div class="itemWrapper">
                                <h2>Incoming Call</h2>
                            </div>
                            <div class="itemWrapper">
                            <!--    <img id="profileImageA" style="padding: 30px; width: 140px; height: 140px;" src="/static/profile.png" alt="img not found">  -->
                                <img width="100" height="100" src="https://img.icons8.com/ios-filled/100/user.png" alt="user"/>
                            </div>
                            <br>
                            <div class="itemWrapper">
                                <h2 style="line-height: 0px;"><span id="callerName"></span></h2>
                            </div>
                            <br>
                            <div class="itemWrapper" style="display: flex; flex-direction: row; margin-bottom: 20px;">
                                <button class="actionButton btn btn-primary" onclick="answer()">Answer</button>
                                <button class="actionButton btn btn-danger" onclick="hangUp()">Hang Up</button>
                            </div>
                        </div>
                    </div>
                    <div id="calling">
                        <div class="incomingWrapper">
                            <div class="itemWrapper">
                                <h2>Calling</h2>
                            </div>
                            <div class="itemWrapper">
                            <!--    <img id="profileImageCA" style="padding: 30px; width: 140px; height: 140px;" src="/static/profile.png" alt=""> -->
                                <img width="100" height="100" src="https://img.icons8.com/ios-filled/100/user.png" alt="user"/>
                                <button class="actionButton btn btn-danger" onclick="hangUp()">Hang Up</button>
                            </div>
                            <div class="itemWrapper">
                                <h3 style="line-height: 0px;"><span id="otherUserNameCA"></span></h3>
                            </div>
                        </div>
                    </div>
                    <div id="inCall">
                        <div class="incomingWrapper">
                            <div class="itemWrapper">
                                <h3>On Call With</h3>
                                <h2 style="line-height: 0px;"><span id="otherUserNameC"></span></h2>
                            </div>
                            <div class="itemWrapper" style="display: flex; flex-direction: row; margin-bottom: 20px;">
                                <button class="actionButton btn btn-danger" onclick="hangUp()">Hang Up</button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="videos">
                        <div style="position:absolute; top:0; right:0; padding-right: 20px; padding-top: 20px">
                            <video width="100px" id="localVideo" autoplay muted playsinline></video>
                        </div>
                        <div id="remoteVideoDiv">
                            <video style="width: 500px;" id="remoteVideo" autoplay playsinline></video>
                        </div>
                    </div>
                    <div style="flex-grow: 1;"></div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
const username = "{{ username }}";
const friendUsername = "{{ friend_username }}";
const currentUser = "{{request.user}}";
// For personal chat
const personalSocket = new WebSocket(
    'ws://' + window.location.host + '/ws/personal/' + friendUsername + '/'
);

personalSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    const chatLog = document.querySelector('#chat-log');
    const messageElement = document.createElement('li');
    messageElement.textContent = `${data.sender}: ${data.message}`;
    if (data.sender === currentUser) {
        messageElement.style.textAlign = 'right';
    }
    chatLog.appendChild(messageElement);
    chatLog.scrollTop = chatLog.scrollHeight;
};

personalSocket.onclose = function(e) {
    console.error('Personal chat socket closed unexpectedly');
};

personalSocket.onopen = function(e) {
    console.log('WebSocket connection established.');
};

document.querySelector('#chat-message-input').focus();
document.querySelector('#chat-message-input').onkeyup = function(e) {
    if (e.keyCode === 13) {
        document.querySelector('#chat-message-submit').click();
    }
};

document.querySelector('#chat-message-submit').onclick = function(e) {
    const messageInputDom = document.querySelector('#chat-message-input');
    const message = messageInputDom.value;
    personalSocket.send(JSON.stringify({
        'message': message
    }));
    messageInputDom.value = '';
};
</script>

<script>
    let myName = "{{ username }}";
    let otherUser = "{{ friend_username }}";
    let localStream;
    let remoteStream;
    let peerConnection;
    let remoteRTCMessage;
    let iceCandidatesFromCaller = [];
</script>
<script>
    function connectSocket() {
        callSocket = new WebSocket('ws://' + window.location.host + '/ws/call/');
        callSocket.onopen = function(e) {
            console.log('calling WebSocket connection for call established.');
        };
        callSocket.onmessage = (e) => {
            let response = JSON.parse(e.data);
            let type = response.type;
            if (type === 'connection') {
                console.log(response.data.message);
            } else if (type === 'call_received') {
                onNewCall(response.data);
            } else if (type === 'call_answered') {
                onCallAnswered(response.data);
            } else if (type === 'ICEcandidate') {
                onICECandidate(response.data);
            } else if (type === 'call_ended') {
                onCallEnded();
            }
        };
    }

    function onNewCall(data) {
        otherUser = data.caller;
        remoteRTCMessage = data.rtcMessage;
        document.getElementById("callerName").innerHTML = otherUser;
        document.getElementById("call").style.display = "none";
        document.getElementById("answer").style.display = "block";
    }

    function onCallAnswered(data) {
        remoteRTCMessage = data.rtcMessage;
        peerConnection.setRemoteDescription(new RTCSessionDescription(remoteRTCMessage));
        document.getElementById("calling").style.display = "none";
        callProgress();
    }

    function onICECandidate(data) {
        let message = data.rtcMessage;
        let candidate = new RTCIceCandidate({
            sdpMLineIndex: message.label,
            candidate: message.candidate
        });
        if (peerConnection) {
            peerConnection.addIceCandidate(candidate);
        } else {
            iceCandidatesFromCaller.push(candidate);
        }
    }

    function sendCall(data) {
        callSocket.send(JSON.stringify({
            type: 'call',
            data
        }));
        document.getElementById("call").style.display = "none";
        document.getElementById("calling").style.display = "block";
    }

    function answerCall(data) {
        callSocket.send(JSON.stringify({
            type: 'answer_call',
            data
        }));
        callProgress();
    }

    function sendICEcandidate(data) {
        callSocket.send(JSON.stringify({
            type: 'ICEcandidate',
            data
        }));
    }

    function hangUp() {
        callSocket.send(JSON.stringify({
            type: 'end_call',
            data: {
                user: otherUser
            }
        }));
        onCallEnded();
        toggleCallButtonVisibility(false);
    }

    function onCallEnded() {
        if (peerConnection) {
            peerConnection.close();
            peerConnection = null;
        }
        if (localStream) {
            localStream.getTracks().forEach(track => track.stop());
        }
        remoteStream = null;
        document.getElementById("localVideo").srcObject = null;
        document.getElementById("remoteVideo").srcObject = null;
        document.getElementById("inCall").style.display = "none";
        document.getElementById("answer").style.display = "none";
        document.getElementById("calling").style.display = "none";
        document.getElementById("videos").style.display = "none";
        document.getElementById("call").style.display = "block";

        toggleCallButtonVisibility(false);
    }

    let pcConfig = {
        "iceServers": [
            { "urls": "stun:stun.l.google.com:19302" },
            {
                "urls": "turn:YOUR_TURN_SERVER",
                "username": "YOUR_USERNAME",
                "credential": "YOUR_CREDENTIAL"
            }
        ]
    };

    let sdpConstraints = {
        offerToReceiveAudio: true,
        offerToReceiveVideo: true
    };

    function beReady() {
        return navigator.mediaDevices.getUserMedia({
            audio: true,
            video: true
        }).then(stream => {
            localStream = stream;
            document.getElementById("localVideo").srcObject = stream;
            return createConnectionAndAddStream();
        }).catch(function (e) {
            alert('getUserMedia() error: ' + e.name);
        });
    }

    function createConnectionAndAddStream() {
        createPeerConnection();
        peerConnection.addStream(localStream);
        return true;
    }

    function processCall(userName) {
        peerConnection.createOffer().then(sessionDescription => {
            peerConnection.setLocalDescription(sessionDescription);
            sendCall({
                name: userName,
                rtcMessage: sessionDescription
            });
        }).catch(error => {
            console.error("Error creating offer: ", error);
        });
    }

    function processAccept() {
        peerConnection.setRemoteDescription(new RTCSessionDescription(remoteRTCMessage)).then(() => {
            return peerConnection.createAnswer();
        }).then(sessionDescription => {
            peerConnection.setLocalDescription(sessionDescription);
            answerCall({
                caller: otherUser,
                rtcMessage: sessionDescription
            });
        }).catch(error => {
            console.error("Error creating answer: ", error);
        });
    }

    function createPeerConnection() {
        try {
            peerConnection = new RTCPeerConnection(pcConfig);
            peerConnection.onicecandidate = handleIceCandidate;
            peerConnection.onaddstream = handleRemoteStreamAdded;
            peerConnection.onremovestream = handleRemoteStreamRemoved;
            return;
        } catch (e) {
            alert('Cannot create RTCPeerConnection object.');
            return;
        }
    }

    function handleIceCandidate(event) {
        if (event.candidate) {
            sendICEcandidate({
                user: otherUser,
                rtcMessage: {
                    label: event.candidate.sdpMLineIndex,
                    id: event.candidate.sdpMid,
                    candidate: event.candidate.candidate
                }
            });
        } else {
            console.log('End of candidates.');
        }
    }

    function handleRemoteStreamAdded(event) {
        remoteStream = event.stream;
        document.getElementById("remoteVideo").srcObject = remoteStream;
    }

    function handleRemoteStreamRemoved(event) {
        document.getElementById("remoteVideo").srcObject = null;
        document.getElementById("localVideo").srcObject = null;
    }

    function initiateCall() {
    beReady().then(() => {
        processCall(otherUser);
        toggleCallButtonVisibility(true);
    });
}

function answer() {
    beReady().then(() => {
        processAccept();
        toggleCallButtonVisibility(true); 
    });
}

    function callProgress() {
        document.getElementById("inCall").style.display = "block";
        document.getElementById("videos").style.display = "block";
        document.getElementById("answer").style.display = "none"; 
    }

    function toggleCallButtonVisibility(callInProgress) {
        const callButton = document.querySelector('.dialActionButton');

        if (callInProgress) {
            callButton.style.display = 'none'; 
        } else {
            callButton.style.display = 'block'; 
        }
    }

    
    document.addEventListener('DOMContentLoaded', function() {
        
        toggleCallButtonVisibility(false); 
    });

    // Connect the WebSocket immediately when the script runs
    connectSocket();
</script>
<script>
    document.getElementById("call").style.display = "none";
    document.getElementById("userInfo").style.display = "none";
    document.getElementById("answer").style.display = "none";
    document.getElementById("inCall").style.display = "none";
    document.getElementById("calling").style.display = "none";
    document.getElementById("videos").style.display = "none";
</script>
{% endblock body %}
